
/*--------COLORS---------------*/
*:root {
  --eerie-black: hsl(0, 0%, 13%);
  --onyx: hsl(0, 0%, 27%);
  --davys-gray: hsl(0, 0%, 33%);
  --sonic-silver: hsl(0, 0%, 47%);
  --spanish-gray: hsl(0, 0%, 60%);
  --white: hsl(0, 100%, 100%);
  --cultured: hsl(0, 0%, 93%);
  --dylans-Blue: hsl(230, 81%, 43%);
  --sprint-yellow: hsl(52, 100%, 50%);
  --kelly-green: hsl(103, 62%, 47%);
  --imperial-blue: hsl(247, 80%, 20%);
  --denim-blue: hsl(234, 93%, 18%);
  --red: hsl(0, 100%, 50%);
  --orange: rgb(255, 84, 46);
}
/*-----------RESET--------------*/



/*----------- START ALERT TOP BAR --------------*/
.alert-primary{
  background-color: var(--white);
  font-weight: 600;
  color: var(--eerie-black);
  margin: 0;
  border-radius:0;
  border: 0;
  text-align: center;
  padding: 7px;
}
/*----------- END ALERT TOP BAR --------------*/


/*----------- START NAVBAR HEADER --------------*/
.navbar{
  background-color:var(--denim-blue);
  margin-bottom: 1px;
}

.row>*{
  padding-left: 8.2rem !important;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--cultured);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 1px 8px 10px 10px;
  text-decoration: none;
  font-size: 25px;
  color: var(--davys-gray);
  display: block;
  transition: all 0.3s;
}

.nav-link {
  color: var(--denim-blue)!important;
}

.sidenav .closebtn {
  position: absolute;
  top: 1rem;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.shop-bag{
  font-size: 1.8rem;
  color: var(--white);
}

.bi-search {
  color: var(--white);
}
/*----------- END NAVBAR HEADER -------------*/


/*----------- START MENU TOP NAVIGATION -------------*/
.navigation-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: var(--white);
}

.menu-category-list {
  position: relative;
  display: flex;
  gap: 4rem;
  margin: 0.7rem;
  list-style:none; 
}

.menu-category span{
  display: flex;
  align-items: center;
}

#iconpc{
  font-size: 1.5rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

#Smartwatch{
  font-size: 1.5rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

#Smartphone{
  font-size: 1.55rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

#Fones{
  font-size: 1.55rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

#Iphones{
  font-size: 1.55rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

#Fonesdown{
  color: var(--orange);
  margin-left: 0.4rem;
}

#departamentosdown{
  color: var(--orange);
  margin-left: 0.4rem;
}

#Smartphonesown{
  color: var(--orange);
  margin-left: 0.4rem;
}

#Iphonesdown{
  color: var(--orange);
  margin-left: 0.4rem;
}

#Todosdepartamentos-icon{
  font-size: 1.55rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

.menu-category  {
  margin: 0.1=rem;
  color: var(--orange);
}

.dropdown-list {
  position: absolute;
  width: 17rem;
  line-height: 2;
  background: var(--white);
  padding: 0.8rem 0;
  transform: translateY(45px);
  visibility: hidden;
  z-index: 1;
  border-radius: 5px;
}

.menu-category-list .menu-category:hover>.dropdown-list {
  transform: translateY(10%);
  opacity: 1;
  visibility: visible;
}

.dropdown-list .dropdown-item a {
  text-transform: capitalize;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: var(--eerie-black);
  cursor: pointer;
  font-weight: 500;
}

.menu-title  {
  text-decoration: none;
  color: var(--orange);
  cursor: pointer;
  list-style:none;
  font-weight: 400;
}

.menu-category-list button{
  background-color: var(--orange);
  cursor: pointer;
  font-size: 1rem;
  border: none;
  color: var(--white);
  font-weight: 300;
  border-radius: 0.2rem !important;
}

.btn-primary{
  --bs-btn-hover-bg: var(--denim-blue);

}
/*----------- END MENU TOP NAVIGATION -------------*/






/*----------- HOME BANNER -------------*/


/*----------- END BANNER -------------*/




/*----------- HOME MEDIA QUERIES -------------*/

@media only screen and (max-width: 320px){


  /*----------- START ALERT TOP BAR --------------*/
  .alert {
    font-size: 0.8rem;
    margin: 0;
  }
  /*----------- END ALERT TOP BAR --------------*/



  /*----------- START NAVBAR HEADER --------------*/
  .navbar{
    --bs-navbar-padding-y:0rem !important;
    --bs-navbar-toggler-padding-y:0rem !important;
  }
  
  .navbar-toggler{
    border: none;
    color: transparent;
  }

  .navbar-toggler-icon{
    background-image: none;
    background-image: image(ion-icon name="menu-outline" class="menu-outline-btn" size="");
    color: var(--white);
  }

  .navbar-toggler-icon ion-icon {
    font-size: 2.3rem;
    position:absolute;
    bottom:6.4rem !important;
    left: 0.8rem !important;
  }

  .shop-bag{
    display: none;
  }

  #cart{
    display: flex !important;
    width:auto !important;
    position: relative !important;
    bottom:6.3rem;
    right: 0.8rem !important; 
    font-size: 2.3rem;
  }

  .row {
    position: relative;
    padding-top: 0.5rem !important;
    right: 3.6rem !important;
  }

  .d-flex span{
    display: none;
  }

  .form-control{
    width: 90%;
  }

  .translate-middle{
    transform: translate(4%, -100%) !important;
  }
  /*----------- END NAVBAR HEADER --------------*/



  /*----------- START MENU TOP NAVIGATION --------------*/
  .menu-category-list {
    display: none;
  } /*----------- END MENU TOP NAVIGATION --------------*/
  

}

@media only screen and (min-width: 321px ) and (max-width: 375px)  {

  
  
  /*----------- START ALERT TOP BAR --------------*/
  .alert {
    font-size: 0.8rem;
    margin: 0;
  }
  /*----------- EDN ALERT TOP BAR --------------*/

  

  /*----------- START NAVBAR HEADER --------------*/
  .navbar{
    --bs-navbar-padding-y:0rem !important;
    --bs-navbar-toggler-padding-y:0rem !important;
  }

  .navbar-toggler{
    border: none;
    color: transparent;
  }

  .navbar-toggler-icon{
    background-image: none;
    background-image: image(ion-icon name="menu-outline" class="menu-outline-btn" size="");
    color: var(--white);
  }

  .navbar-toggler-icon ion-icon {
    font-size: 2.3rem;
    position:absolute;
    bottom:6.4rem !important;
    left: 0.8rem !important;
  }

  .shop-bag{
    display: none;
  }

  #cart{
    display: flex !important;
    width:auto !important;
    position: relative !important;
    bottom:6.3rem;
    right: 0.8rem !important; 
    font-size: 2.3rem;
  }

  .row {
    position: relative;
    padding-top: 0.5rem !important;
    right: 3.6rem !important;
  }


  .row img{
    padding-left: 1.5rem !important;
    width: auto;
  }

  .d-flex span{
    display: none;
  }

  .form-control{
    width: 90%;
  }

  .translate-middle{
    transform: translate(4%, -100%) !important;
  }
  /*----------- END NAVBAR HEADER --------------*/


  /*----------- START MENU TOP NAVIGATION --------------*/
  .menu-category-list {
    display: none;
  }
  /*----------- END MENU TOP NAVIGATION --------------*/


}


@media only screen and (min-width: 376px ) and (max-width: 425px) {

  /*----------- START ALERT TOP BAR --------------*/
  .alert {
    font-size: 0.8rem;
    margin: 0;
  }
  /*----------- END ALERT TOP BAR --------------*/



  /*----------- START NAVBAR HEADER --------------*/
  .navbar{
    --bs-navbar-padding-y:0rem !important;
    --bs-navbar-toggler-padding-y:0rem !important;
  }

  .navbar-toggler{
    border: none;
    color: transparent;
  }

  .navbar-toggler-icon{
    background-image: none;
    background-image: image(ion-icon name="menu-outline" class="menu-outline-btn" size="");
    color: var(--white);
  }

  .navbar-toggler-icon ion-icon {
    font-size: 2.3rem;
    position:absolute;
    bottom:6.4rem !important;
    left: 0.8rem !important;
  }

  .shop-bag{
    display: none;
  }

  #cart{
    display: flex !important;
    width:auto !important;
    position: relative !important;
    bottom:6.3rem;
    right: 0.8rem !important; 
    font-size: 2.3rem;
  }

  .row {
    position: relative;
    padding-top: 0.5rem !important;
    right: 3.6rem !important;
  }


  .row img{
    padding-left: 3.1rem !important;
    width: auto !important;
  }

  .d-flex span{
    display: none;
  }

  .form-control{
    width: 90%;
  }

  .translate-middle{
    transform: translate(4%, -100%) !important;
  }
  /*----------- END NAVBAR HEADER --------------*/




  /*----------- START MENU TOP NAVIGATION --------------*/
    .menu-category-list {
      display: none;
    }
  /*----------- END MENU TOP NAVIGATION --------------*/

}

@media only screen and (min-width: 426px ) and (max-width: 767px){

  /*----------- START ALERT TOP BAR --------------*/
  .alert {
    font-size: 0.8rem;
    margin: 0;
  }
  /*----------- END ALERT TOP BAR --------------*/




  /*----------- START NAVBAR HEADER --------------*/
  .navbar{
    --bs-navbar-padding-y:0rem !important;
    --bs-navbar-toggler-padding-y:0rem !important;
  }
  
  .navbar-toggler{
    border: none;
    color: transparent;
  }

  .navbar-toggler-icon{
    background-image: none;
    background-image: image(ion-icon name="menu-outline" class="menu-outline-btn" size="");
    color: var(--white);
  }

  .navbar-toggler-icon ion-icon {
    font-size: 2.3rem;
    position:absolute;
    bottom:8.5rem !important;
    left: 0.5rem;
  }

  .shop-bag{
    display: none;
  }

  #cart{
    display: flex !important;
    width:auto !important;
    position: relative !important;
    bottom:7.4rem  ;
    right: 0.8rem !important; 
    font-size: 2.3rem;
  }

  .row img{
    padding-left: 0rem !important;  
    width: auto !important;
  }

  .d-flex span{
    display: none;
  }

  .form-control{
    width: 90%;
  }

  .translate-middle{
    transform: translate(4%, -100%) !important;
  }
  /*----------- END NAVBAR HEADER --------------*/




  /*----------- START MENU TOP NAVIGATION --------------*/
    .menu-category-list {
      display: none;
    }
  /*----------- END MENU TOP NAVIGATION --------------*/

}

@media only screen and (min-device-width: 768px ) and (max-device-width: 1023px) {


  /*----------- START NAVBAR HEADER --------------*/
  .navbar{
    --bs-navbar-padding-y:0rem !important;
    --bs-navbar-toggler-padding-y:0rem !important;
  }

  .navbar-toggler{
    display: none;
  }

  .form-control{
    width: 50%;
  }

  .translate-middle{
    transform: translate(41%, -30%) !important;
    bottom: 3.6rem;
  }

  .row>*{
    padding-left: 1rem !important;
  }

  .row img{
    padding-left: 0rem !important; 
    width: auto !important;
    margin-top: 1.5rem!important;
  }

  .navbar-toggler .container-fluid{
    --bs-gutter-x: 0rem !important;
  }

  .d-flex span{
    width:auto !important;
    position: relative !important;
    bottom:4rem;
    left: 3.8rem !important;
  }
  
  .d-flex{
    margin-left: 4rem !important;
  }
  /*----------- END NAVBAR HEADER --------------*/

}


@media only screen and (min-width: 1024px ) and (max-width: 1439px) {

  /*----------- START NAVBAR HEADER --------------*/
  .navbar-toggler{
    display: none;
  }

  .form-control{
    width: 100%;
  }
  /*----------- END NAVBAR HEADER --------------*/

}


/*----------- END MEDIA QUERIES -------------*/
