
/*--------COLORS---------------*/
*:root {
  --eerie-black: hsl(0, 0%, 13%);
  --onyx: hsl(0, 0%, 27%);
  --davys-gray: hsl(0, 0%, 33%);
  --sonic-silver: hsl(0, 0%, 47%);
  --spanish-gray: hsl(0, 0%, 60%);
  --white: hsl(0, 100%, 100%);
  --cultured: hsl(0, 0%, 93%);
  --dylans-Blue: hsl(230, 81%, 43%);
  --sprint-yellow: hsl(52, 100%, 50%);
  --kelly-green: hsl(103, 62%, 47%);
  --imperial-blue: hsl(247, 80%, 20%);
  --denim-blue: hsl(247, 79%, 15%);
  --red: hsl(0, 100%, 50%);
}



/*-----------RESET--------------*/



/*----------- START ALERT TOP BAR --------------*/
.alert-primary{
  background-color: hsl(52, 100%, 50%);
  font-weight: 700;
  color: var(--imperial-blue);
  margin: 0;
  border-radius:0;
  border: 0;
  text-align: center;
  padding: 7px;
}
/*----------- END ALERT TOP BAR --------------*/


/*----------- START NAVBAR HEADER --------------*/
.navbar{
  background-color: hsl(230, 81%, 43%);
  margin-bottom: 1px;
}

.row>*{
  padding-left: 5rem !important;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--cultured);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 20px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--davys-gray);
  display: block;
  transition: 0.3s;
}

.nav-link {
  color: var(--denim-blue)!important;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.shop-bag{
  font-size: 1.8rem;
  color: var(--white);
}

.d-flex{
  margin-left: 0.3rem;
  color: var(--white);
}

#search{
  color: var(--dylans-Blue);
}
/*----------- END NAVBAR HEADER -------------*/


/*----------- HOME MENU TOP NAVIGATION -------------*/
.navigation-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: var(--dylans-Blue )!important;
}

.menu-category-list {
  position: relative;
  display: flex;
  gap: 2.5rem;
  margin: 1.3rem;
  text-transform: uppercase;
  list-style:none
}

.dropdown-list {
  position: absolute;
  width: 20rem;
  line-height: 2;
  background: var(--white);
  padding: 2rem 0;
  transform: translateY(45px);
  visibility: hidden;
  z-index: 1;
  border-radius: 10px;
}

.menu-category-list .menu-category:hover>.dropdown-list {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.dropdown-list .dropdown-item a {
  text-transform: capitalize;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: var(--sonic-silver);
  cursor: pointer;
}

.menu-title  {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  list-style:none;
  font-weight: 500;
}

.menu-title:hover{
  color: var(--white);
}

.menu-category ion-icon {
  font-size: 0.8rem;
  left: 0.1rem;
  color: var(--white);
}


.menu-category-list button{
  background-color: var(--white);
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  
}

.menu-title-btn{
 color: var(--dylans-Blue);
 font-weight: 600;
 text-decoration: none;
}

.menu-category .menu-outline-btn{
  color: var(--dylans-Blue);
  font-weight: 600;
  text-decoration: none;
}
/*----------- END MENU TOP NAVIGATION -------------*/






/*----------- HOME BANNER -------------*/


/*----------- END BANNER -------------*/




/*----------- HOME MEDIA QUERIES -------------*/

@media (max-width: 320px){

  .menu-category-list {
    display: none;
  }

  .alert {
    font-size: 0.8rem;
    margin: 0;
  }

  .navbar-toggler{
    border: none;
    color: transparent;
  }

  .navbar-toggler-icon{
    background-image: none;
    background-image: image(ion-icon name="menu-outline" class="menu-outline-btn" size="");
    color: var(--white);
  }

  .navbar-toggler-icon ion-icon {
    font-size: 2.3rem;
    position:absolute;
    bottom:8.5rem !important;
    left: 0.8rem !important;
  }

  .shop-bag{
    display: none;
  }

  #cart{
    display: flex !important;
    width:auto !important;
    position: relative !important;
    bottom:7.3rem  ;
    right: 0.8rem !important; 
    font-size: 2.3rem;
  }

  .row {
    padding-left: 0.7rem !important;
    width: auto;
  }

  .d-flex span{
    display: none;
  }

  .form-control{
    width: 90%;
  }

  .translate-middle{
    transform: translate(4%, -100%) !important;
  }

  .mt-2{
    margin-top: 0 !important;
  }

}

@media (min-width: 321px ) and (max-width: 375px)  {

  
  .menu-category-list {
    display: none;
  }

  .alert {
    font-size: 0.8rem;
    margin: 0;
  }
  

  .navbar-toggler{
    border: none;
    color: transparent;
  }

  .navbar-toggler-icon{
    background-image: none;
    background-image: image(ion-icon name="menu-outline" class="menu-outline-btn" size="");
    color: var(--white);
  }

  .navbar-toggler-icon ion-icon {
    font-size: 2.3rem;
    position:absolute;
    bottom:8.5rem !important;
    left: 0.8rem !important;
  }

  .shop-bag{
    display: none;
  }

  #cart{
    display: flex !important;
    width:auto !important;
    position: relative !important;
    bottom:7.4rem  ;
    right: 0.8rem !important; 
    font-size: 2.3rem;
  }

  .row img{
    padding-left: 2rem !important;
    width: auto;
  }

  .d-flex span{
    display: none;
  }

  .form-control{
    width: 90%;
  }

  .translate-middle{
    transform: translate(4%, -100%) !important;
  }


  .mt-2{
    margin-top: 0 !important;
  }

}


@media (min-width: 376px ) and (max-width: 425px) {


  .menu-category-list {
    display: none;
  }

  .alert {
    font-size: 0.8rem;
    margin: 0;
  }
  
  .navbar-toggler{
    border: none;
    color: transparent;
  }

  .navbar-toggler-icon{
    background-image: none;
    background-image: image(ion-icon name="menu-outline" class="menu-outline-btn" size="");
    color: var(--white);
  }

  .navbar-toggler-icon ion-icon {
    font-size: 2.3rem;
    position:absolute;
    bottom:8.5rem !important;
    left: 0.8rem !important;
  }


  .shop-bag{
    display: none;
  }

  #cart{
    display: flex !important;
    width:auto !important;
    position: relative !important;
    bottom:7.4rem  ;
    right: 0.8rem !important; 
    font-size: 2.3rem;
  }


  .row img{
    padding-left: 3.7rem !important;
    width: auto !important;
  }

  .d-flex span{
    display: none;
  }

  .form-control{
    width: 90%;
  }

  .translate-middle{
    transform: translate(4%, -100%) !important;
  }


  .mt-2{
    margin-top: 0 !important;
  }

}

@media (min-width: 426px ) and (max-width: 768px){


  .menu-category-list {
    display: none;
  }

  .alert {
    font-size: 0.8rem;
    margin: 0;
  }
  

  .navbar-toggler{
    border: none;
    color: transparent;
  }

  .navbar-toggler-icon{
    background-image: none;
    background-image: image(ion-icon name="menu-outline" class="menu-outline-btn" size="");
    color: var(--white);
  }

  .navbar-toggler-icon ion-icon {
    font-size: 2.3rem;
    position:absolute;
    bottom:8.5rem !important;
    left: 0.5rem;
  }


  .shop-bag{
    display: none;
  }

  #cart{
    display: flex !important;
    width:auto !important;
    position: relative !important;
    bottom:7.4rem  ;
    right: 0.8rem !important; 
    font-size: 2.3rem;
  }

  .row img{
    padding-left: 0rem !important;  
    width: auto !important;
  }


  .d-flex span{
    display: none;
  }

  .form-control{
    width: 90%;
  }

  .translate-middle{
    transform: translate(4%, -100%) !important;
  }


  .mt-2{
    margin-top: 0 !important;
  }

}




/*----------- END MEDIA QUERIES -------------*/
