
/*--------COLORS---------------*/
*:root {
  --eerie-black: hsl(0, 0%, 13%);
  --onyx: hsl(0, 0%, 27%);
  --davys-gray: hsl(0, 0%, 33%);
  --sonic-silver: hsl(0, 0%, 47%);
  --spanish-gray: hsl(0, 0%, 60%);
  --white: hsl(0, 100%, 100%);
  --cultured: hsl(0, 0%, 93%);
  --dylans-Blue: hsl(230, 81%, 43%);
  --sprint-yellow: hsl(52, 100%, 50%);
  --kelly-green: hsl(103, 62%, 47%);
  --imperial-blue: hsl(247, 80%, 20%);
  --denim-blue: hsl(234, 93%, 18%);
  --red: hsl(0, 100%, 50%);
  --orange: rgb(255, 84, 46);
}
/*-----------RESET--------------*/


#teste55{
  display: none;
}
#teste45{
  background-color: var(--white);
}

/*----------- START ALERT TOP BAR --------------*/
.alert-primary{
  background-color: var(--white);
  font-weight: 600;
  color: var(--eerie-black);
  margin: 0;
  border-radius:0;
  border: 0;
  text-align: center;
  padding: 7px;
}
/*----------- END ALERT TOP BAR --------------*/


/*----------- START NAVBAR HEADER --------------*/
.navbar{
  background-color:var(--denim-blue);
  margin-bottom: 1px;
}

.navbar img {
  margin-left: 4.5rem;
}

.modal{
  width: auto;
}

.modal.fade .modal-dialog {
  transition: transform .4s ease-out !important;
}

.modal-header{
  padding: 0;
  background-color: var(--orange);
}

.modal-content{
  width: auto;
  font-size: 1rem;
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 0.521);
  font-weight: 300;
}

.text a{
  text-decoration: none;
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 0.5rem;
}
.msg{
  margin-left: 0.5rem;
}

.account-login{
  display: flex;
  font-size: 4.5rem;
  color: var(--white);
  margin-right: 0.5rem;
}

.modal-line a{
  text-decoration: none;
  margin: 0rem;
  color: var(--eerie-black);
}

.modal-line {
  margin: 0.5rem;
}
.sidebar-dropdown-item a{
  padding: 0.4rem 0rem;
}

.sidebar-dropdown-item {
  padding: 0.4rem 0rem;
}

.sidebar-dropdown-menu{
  padding-left: 0rem;
  list-style: none;
}

.shop-bag{
  font-size: 1.8rem;
  color: var(--white);
}

.bi-search {
  color: var(--white);
}


/*----------- END NAVBAR HEADER -------------*/


/*----------- START MENU TOP NAVIGATION -------------*/
.navigation-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: var(--white);
}

.menu-category-list {
  position: relative;
  display: flex;
  gap: 4rem;
  margin: 0.7rem;
  list-style:none; 
}

.menu-category span{
  display: flex;
  align-items: center;
}

.menu-category :hover #Fonesdown{
  rotate: -180deg;
  transition: 0.3s;
}

.menu-category :hover #departamentosdown{
  rotate: -180deg;
  transition: 0.3s;
}

.menu-category :hover #Smartphonesown{
  rotate: -180deg;
  transition: 0.3s;
}

.menu-category :hover #Iphonesdown{
  rotate: -180deg;
  transition: 0.3s;
}

#iconpc{
  font-size: 1.5rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

#Smartwatch{
  font-size: 1.5rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

#Smartphone{
  font-size: 1.55rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

#Fones{
  font-size: 1.55rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

#Iphones{
  font-size: 1.55rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

#Fonesdown{
  color: var(--orange);
  margin-left: 0.4rem;
}

#departamentosdown{
  color: var(--orange);
  margin-left: 0.4rem;
}

#Smartphonesown{
  color: var(--orange);
  margin-left: 0.4rem;
}

#Iphonesdown{
  color: var(--orange);
  margin-left: 0.4rem;
}

#Todosdepartamentos-icon{
  font-size: 1.55rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

.menu-category  {
  margin: 0.1rem;
  color: var(--orange);
}

.menu-category:hover a {
  color: var(--orange);
}

.dropdown-list {
  position: absolute;
  width: 17rem;
  line-height: 2;
  background: var(--white);
  padding: 0.8rem 0;
  transform: translateY(45px);
  visibility: hidden;
  z-index: 1;
  border-radius: 5px;
}

.menu-category-list .menu-category:hover>.dropdown-list {
  transform: translateY(10%);
  opacity: 1;
  visibility: visible;
}

.dropdown-list .dropdown-item a {
  text-transform: capitalize;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: var(--eerie-black);
  cursor: pointer;
  font-weight: 500;
}

.menu-title  {
  text-decoration: none;
  color: var(--orange);
  cursor: pointer;
  list-style:none;
  font-weight: 400;
}

.menu-category-list button{
  background-color: var(--orange);
  cursor: pointer;
  font-size: 1rem;
  border: none;
  color: var(--white);
  font-weight: 400;
  height: 3rem;
  width: 10rem;
  border-radius: 0.2rem !important;
}

.btn-primary{
  --bs-btn-hover-bg: var(--denim-blue);
}
/*----------- END MENU TOP NAVIGATION -------------*/



/*----------- HOME BANNER -------------*/

/*----------- END BANNER -------------*/



/*----------- START NAV-ITENS-------------*/
.category-item{ 
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

.category-item-title{   
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-item-icon{
  align-items: center;
  display: flex;
  margin-right: 1rem;
}

.category-item-icon{
  font-size: 3rem;
  color: var(--denim-blue)
}
/*----------- END NAV-ITENS-------------*/




/*----------- START MINI BANNER -------------*/
.slides{  
  list-style: none;
}

.col-4{
  padding-top: 1.5rem;
}
/*----------- END MINI BANNER -------------*/


/*--------------- START TITLE-SECTION ------------------*/
.category-tittle-container {
  display: flex;
  justify-content: center;
}

.category-item-tittle {
  padding-top: 1rem;
}
.category-item-tittle span {
  font-size: 1.2rem;
  color: var(--onyx);
  font-weight: 500;
}

.category-content-flex-tittle a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--eerie-black);
  font-weight: 500;
}

.category-content-flex-tittle h3::after {
  content: "";
  display: block;
  width: 33.7%;
  height: 0.3rem;
  margin-top: 0.4rem;
  background-color: var(--denim-blue);
  border-radius: 1rem;
}

.category-item-title-title {
  color: var(--eerie-black);
  font-size: 1.5rem;
  font-weight: 400;
}
/*--------------- END TITLE-SECTION------------------*/


/*--------------- START PRODUCT ------------------*/
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  list-style: none;
  padding-left: 5rem;
  padding-right: 0px;

}
.product-card .card-banner {
  position: relative;
  margin-bottom: 20px;
  margin-top: 3rem;
  margin-bottom: 0rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.product-list li{
  height: auto;
}

.product-card:hover{
  box-shadow:rgba(32, 32, 32, 0.12) 0px 2px 10px;
  border-radius: 1rem;
  transition: box-shadow 0.6s ease 0.0s;
}

.product-card .card-badge {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 10px;
  background-color: var(--kelly-green);
  border-radius: 5px;
}

.product-card .card-badge-red {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: var(--fw-500);
  padding: 3px 10px;
  background-color: var(--red);
  color: var(--white);
  border-radius: 5px;
}

.product-card .card-badge-full {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 10px;
  background-color: var(--sprint-yellow);
  color: var(--eerie-black);
  border-radius: 5px;
}

.card-content{
  margin-left: 1rem;
  padding-bottom: 1rem;
}

.product-card .card-title a {
  margin-bottom: 1px;
  color: var(--eerie-black);
  font-size: 1.1rem;
  font-weight: 400;
}

.star {
  color: var(--sprint-yellow);
  margin: 5px 0px;
  font-size: 0.8rem;
}

.title-text{
  text-decoration: none;
  color: var(--eerie-black);
}

.star span {
  color: var(--eerie-black);
}

.card-price data {
  font-weight: 500;
}

.conditions-price {
  font-size: 0.9rem;
}

.conditions-price a {
  text-decoration: none;
  color: var(--eerie-black);

}

.conditions-price span {
  text-decoration: none;
  color: var(--kelly-green);
}

.conditions-payment {
  font-size: 0.9rem;
}

.conditions-price p { 
  margin-bottom:0rem;
}

.product-card .card-price {
  color: var(--eerie-black);
  font-weight: var(--fw-500);
  font-size: 1.35rem;
}

.product-card .card-price data:not(:last-child) {
  display: flex;
  flex-wrap: wrap;
  color: var(--sonic-silver);
  margin-left: 0px;
  font-size: 1rem;
  text-decoration: line-through;
}
/*--------------- END PRODUCT ------------------*/





/*--------------- START FOOTER ------------------*/
.footer {
  margin-top: 5rem;
  background: var(--denim-blue);
}

.logo-details-text {
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.5;
}

.logo-details{
  padding-left: 2rem;
  margin-top: 2rem;
}

.link_name {
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  list-style: none;
}

.box li a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--white);
  font-weight: 400;
  opacity: 0.5;
}

.box  {
  list-style: none;
  padding-top: 3rem;
}


.input-box{
  max-width: 50%;
  padding-left: 2rem;
  padding-top: 0.5rem;
}

.form-group{
  padding-top: 0.5rem;
  padding-bottom: .5rem;
}

.btn btn-primary{
  padding-bottom: 0.5rem;
}

.list-unstyled{
  padding-left: 2rem;
  padding-top: 0.5rem;
  list-style: none;
}

.media-icons{
  padding-left: 2rem;
  padding-top: 0.5rem;
}

.footer-content .input-box input::placeholder {
  color: var(--cultured);
  font-size: 1rem;
}
/*--------------- END FOOTER ------------------*/



/*----------- HOME MEDIA QUERIES -------------*/

@media only screen and (max-width: 320px){


  #teste55{
    display: none;
  }
  #teste45{
    background-color: var(--white);
  }
  
  /*----------- START ALERT TOP BAR --------------*/
  .alert {
    font-size: 0.8rem;
    margin: 0;
  }
  /*----------- END ALERT TOP BAR --------------*/



  /*----------- START NAVBAR HEADER --------------*/
  .navbar{
    --bs-navbar-padding-y:0rem !important;
    --bs-navbar-toggler-padding-y:0rem !important;
  }
  
  .navbar-toggler{
    border: none;
    color: transparent;
  }

  .navbar-toggler-icon{
    background-image: none;
    background-image: image(ion-icon name="menu-outline" class="menu-outline-btn" size="");
    color: var(--white);
  }

  .navbar-toggler-icon ion-icon {
    font-size: 2.3rem;
    position:absolute;
    bottom:6.4rem !important;
    left: 0.8rem !important;
  }

  .shop-bag{
    display: none;
  }

  #cart{
    display: flex !important;
    width:auto !important;
    position: relative !important;
    bottom:6.3rem;
    right: 0.8rem !important; 
    font-size: 2.3rem;
  }

  .navbar img {
    margin-left: 3.5rem;
    margin-top: 0.5rem;
  }

  .d-flex span{
    display: none;
  }

  .form-control{
    width: 90%;
  }

  .translate-middle{
    transform: translate(4%, -100%) !important;
  }
  /*----------- END NAVBAR HEADER --------------*/



  /*----------- START MENU TOP NAVIGATION --------------*/
  .menu-category-list {
    display: none;
  } /*----------- END MENU TOP NAVIGATION --------------*/
  

  /*----------- START BANNER--------------*/
  .carousel-indicators [data-bs-target]{
    display: none;
  }
  /*----------- END BANNER--------------*/



  /*----------- START NAV-ITENS-------------*/
  .splide__slide {
    width: auto !important;
  }
  .mt-4{
    margin-top: 0.5rem !important;
  }
  /*----------- END NAV-ITENS-------------*/
  


  /*----------- START MINI BANNER -------------*/
  .modulo {
    width: 100%;
  }
  
  .flexslider {
    width: 100%;
  }

  .slides{
    padding-left: 0rem;
  }

  .slides img {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
  }

  .col-4{
    padding-top: 0rem;
  }
  /*----------- END MINI BANNER -------------*/
  
  /*--------------- START TITLE-SECTION ------------------*/
  .category-item-tittle span {
    display: none;
  }

  
  .category-item-tittle {
    padding-top: 0rem;
  }

  .category-content-flex-tittle h3::after {
    width: 80%;
    margin-top: 0.3rem!important;
    margin: 0 auto;
  }
  /*--------------- END TITLE-SECTION------------------*/
  

  /*--------------- START PRODUCT ------------------*/
  .col-3 {
    width: 50%;
  }
  
  .product-list {
    padding-left: 0rem;
  }

  .w-auto {
    width: 100% !important;
  }

  .product-card .card-banner {
    position: relative;
    margin-bottom: 0px;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .product-card .card-title a {
    font-size: 1rem;
  }

  .product-card  {
    margin: 0 5px!important;
  }

  .product-card .card-price {
    font-size: 1.19rem;
  }

  .product-card .card-price data:not(:last-child) {
    font-size:0.75rem;
  }

  .conditions-price {
    font-size: 0.8rem;
  }

  .conditions-payment {
    font-size: 0.8rem;
  }

  .star {
    font-size: 0.8rem;
  }

  .card-content {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0.2rem;
  }

  .card-content a {
    justify-content: center;
  }

  .product-card .card-badge-red {
    padding: 3px 10px;
    font-size: 0.7rem;
    font-weight: 600;
  }

  .product-card .card-badge {
    padding: 3px 10px;
    font-size: 0.7rem;
    font-weight: 600;
  }

  .product-card .card-badge-full {
    padding: 3px 10px;
    font-size: 0.7rem;
    font-weight: 600;
  }
  /*--------------- END PRODUCT ------------------*/


  /*--------------- START FOOTER ------------------*/
  .footer {
    margin-top: 1rem;
  }
  /*--------------- END FOOTER ------------------*/

}



@media only screen and (min-width: 321px ) and (max-width: 375px)  {

  
  #teste55{
    display: none;
  }
  #teste45{
    background-color: var(--white);
  }
  
  /*----------- START ALERT TOP BAR --------------*/
  .alert {
    font-size: 0.8rem;
    margin: 0;
  }
  /*----------- EDN ALERT TOP BAR --------------*/

  

  /*----------- START NAVBAR HEADER --------------*/
  .navbar{
    --bs-navbar-padding-y:0rem !important;
    --bs-navbar-toggler-padding-y:0rem !important;
  }

  .navbar-toggler{
    border: none;
    color: transparent;
  }

  .navbar-toggler-icon{
    background-image: none;
    background-image: image(ion-icon name="menu-outline" class="menu-outline-btn" size="");
    color: var(--white);
  }

  .navbar-toggler-icon ion-icon {
    font-size: 2.3rem;
    position:absolute;
    bottom:6.4rem !important;
    left: 0.8rem !important;
  }

  .shop-bag{
    display: none;
  }

  #cart{
    display: flex !important;
    width:auto !important;
    position: relative !important;
    bottom:6.3rem;
    right: 0.8rem !important; 
    font-size: 2.3rem;
  }

  .navbar img {
    margin-left: 4.5rem;
    margin-top: 0.5rem;
  }

  .d-flex span{
    display: none;
  }

  .form-control{
    width: 90%;
  }

  .translate-middle{
    transform: translate(4%, -100%) !important;
  }
  /*----------- END NAVBAR HEADER --------------*/


  /*----------- START MENU TOP NAVIGATION --------------*/
  .menu-category-list {
    display: none;
  }
  /*----------- END MENU TOP NAVIGATION --------------*/


  /*----------- START BANNER--------------*/
  .carousel-indicators [data-bs-target]{
    display: none;
  }
  /*----------- END BANNER--------------*/


  /*----------- START NAV-ITENS-------------*/
  .splide__slide {
    width: auto !important;
  }
  .mt-4{
    margin-top: 0.5rem !important;
  }
  /*----------- END NAV-ITENS-------------*/
  

  /*----------- START MINI BANNER -------------*/
  .modulo {
    width: 100%;
  }
  
  .flexslider {
    width: 100%;
  }

  .slides{
    padding-left: 1.2rem;
  }

  .slides img {
    width: 95%;
    overflow: hidden;
    border-radius: 5px;
  }

  .col-4{
    padding-top: 0rem;
  }
  /*----------- END MINI BANNER -------------*/


  /*--------------- START TITLE-SECTION ------------------*/
  .category-item-tittle span {
    display: none;
  }

  .category-item-tittle {
    padding-top: 0rem;
  }

  .category-content-flex-tittle h3::after {
    width: 80%;
    margin-top: 0.3rem!important;
    margin: 0 auto;
  }
  /*--------------- END TITLE-SECTION------------------*/

  /*--------------- START PRODUCT ------------------*/
  .col-3 {
    width: 50%;
  }
  
  .product-list {
    padding-left: 0rem;
  }

  .w-auto {
    width: 100% !important;
  }

  .product-card .card-banner {
    position: relative;
    margin-bottom: 0px;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0.5rem;
    margin-right: 0rem;
  }

  .product-card .card-title a {
    font-size: 1rem;
  }

  .product-card  {
    margin: 0 5px!important;
  }

  .product-card .card-price {
    font-size: 1.19rem;
  }

  .product-card .card-price data:not(:last-child) {
    font-size:0.75rem;
  }

  .conditions-price {
    font-size: 0.8rem;
  }

  .conditions-payment {
    font-size: 0.8rem;
  }

  .star {
    font-size: 0.8rem;
  }

  .card-content {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0.2rem;
  }

  .card-content a {
    justify-content: center;
  }

  .product-card .card-badge-red {
    padding: 3px 10px;
    font-size: 0.7rem;
    font-weight: 600;
  }

  .product-card .card-badge {
    padding: 3px 10px;
    font-size: 0.7rem;
    font-weight: 600;
  }

  .product-card .card-badge-full {
    padding: 3px 10px;
    font-size: 0.7rem;
    font-weight: 600;
  }
  /*--------------- END PRODUCT ------------------*/

  /*--------------- START FOOTER ------------------*/
  .footer {
    margin-top: 1rem;
  }
  /*--------------- END FOOTER ------------------*/
  
  
}


@media only screen and (min-width: 376px ) and (max-width: 425px) {


  #teste55{
    display: none;
  }
  #teste45{
    background-color: var(--white);
  }

  /*----------- START ALERT TOP BAR --------------*/
  .alert {
    font-size: 0.8rem;
    margin: 0;
  }
  /*----------- END ALERT TOP BAR --------------*/



  /*----------- START NAVBAR HEADER --------------*/
  .navbar{
    --bs-navbar-padding-y:0rem !important;
    --bs-navbar-toggler-padding-y:0rem !important;
  }

  .navbar-toggler{
    border: none;
    color: transparent;
  }

  .navbar-toggler-icon{
    background-image: none;
    background-image: image(ion-icon name="menu-outline" class="menu-outline-btn" size="");
    color: var(--white);
  }

  .navbar-toggler-icon ion-icon {
    font-size: 2.3rem;
    position:absolute;
    bottom:6.4rem !important;
    left: 0.8rem !important;
  }

  .shop-bag{
    display: none;
  }

  #cart{
    display: flex !important;
    width:auto !important;
    position: relative !important;
    bottom:6.3rem;
    right: 0.8rem !important; 
    font-size: 2.3rem;
  }

  .navbar img {
    margin-left: 6.5rem;
    margin-top: 0.5rem;
  }


  .d-flex span{
    display: none;
  }

  .form-control{
    width: 90%;
  }

  .translate-middle{
    transform: translate(4%, -100%) !important;
  }
  /*----------- END NAVBAR HEADER --------------*/



  /*----------- START MENU TOP NAVIGATION --------------*/
    .menu-category-list {
      display: none;
    }
  /*----------- END MENU TOP NAVIGATION --------------*/


  /*----------- START BANNER--------------*/
  .carousel-indicators [data-bs-target]{
    display: none;
  }
  /*----------- END BANNER--------------*/


  /*----------- START NAV-ITENS-------------*/
  .splide__slide {
    width: auto !important;
  }
  .mt-4{
    margin-top: 0.5rem !important;
  }
  /*----------- END NAV-ITENS-------------*/
  

  /*----------- START MINI BANNER -------------*/
  .modulo {
    width: 100%;
  }
  
  .flexslider {
    width: 100%;
  }

  .slides{
    padding-left: 1.2rem;
  }

  .slides img {
    width: 95%;
    overflow: hidden;
    border-radius: 5px;
  }

  .col-4{
    padding-top: 0rem;
  }
  /*----------- END MINI BANNER -------------*/


  /*--------------- START TITLE-SECTION ------------------*/
  .category-item-tittle span {
    display: none;
  }

  .category-content-flex-tittle h3::after {
    width: 80%;
    margin-top: 0.3rem!important;
    margin: 0 auto;
  }

  .category-item-tittle {
    padding-top: 0rem;
  }
  /*--------------- END TITLE-SECTION------------------*/

  /*--------------- START PRODUCT ------------------*/
  .col-3 {
    width: 50%;
  }
  
  .product-list {
    padding-left: 0rem;
  }

  .w-auto {
    width: 100% !important;
  }

  .product-card .card-banner {
    position: relative;
    margin-bottom: 0px;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0.5rem;
    margin-right: 0rem;
  }

  .product-card .card-title a {
    font-size: 1rem;
  }

  .product-card  {
    margin: 0 5px!important;
  }


  .product-card .card-price {
    font-size: 1.19rem;
  }

  .product-card .card-price data:not(:last-child) {
    font-size:0.75rem;
  }

  .conditions-price {
    font-size: 0.8rem;
  }

  .conditions-payment {
    font-size: 0.8rem;
  }

  .star {
    font-size: 0.8rem;
  }

  .card-content {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0.2rem;
  }

  .card-content a {
    justify-content: center;
  }

  .product-card .card-badge-red {
    padding: 3px 10px;
    font-size: 0.7rem;
    font-weight: 600;
  }

  .product-card .card-badge {
    padding: 3px 10px;
    font-size: 0.7rem;
    font-weight: 600;
  }

  .product-card .card-badge-full {
    padding: 3px 10px;
    font-size: 0.7rem;
    font-weight: 600;
  }
  /*--------------- END PRODUCT ------------------*/

  /*--------------- START FOOTER ------------------*/
  .footer {
    margin-top: 1rem;
  }
  /*--------------- END FOOTER ------------------*/
}

@media only screen and (min-width: 426px ) and (max-width: 768px){

  #teste55{
    display: none;
  }
  #teste45{
    background-color: var(--white);
  }

  /*----------- START ALERT TOP BAR --------------*/
  .alert {
    font-size: 0.8rem;
    margin: 0;
  }
  /*----------- END ALERT TOP BAR --------------*/


  /*----------- START NAVBAR HEADER --------------*/
  .navbar{
    --bs-navbar-padding-y:0rem !important;
    --bs-navbar-toggler-padding-y:0rem !important;
  }
  
  .navbar-toggler{
    border: none;
    color: transparent;
  }

  .navbar-toggler-icon{
    background-image: none;
    background-image: image(ion-icon name="menu-outline" class="menu-outline-btn" size="");
    color: var(--white);
  }

  .navbar-toggler-icon ion-icon {
    font-size: 2.3rem;
    position:absolute;
    bottom:8.5rem !important;
    left: 0.5rem;
  }

  .shop-bag{
    display: none;
  }

  #cart{
    display: flex !important;
    width:auto !important;
    position: relative !important;
    bottom:7.4rem  ;
    right: 0.8rem !important; 
    font-size: 2.3rem;
  }

  .navbar img {
    margin-left: 5rem;
  }

  .d-flex span{
    display: none;
  }

  .form-control{
    width: 90%;
  }

  .translate-middle{
    transform: translate(4%, -100%) !important;
  }
  /*----------- END NAVBAR HEADER --------------*/




  /*----------- START MENU TOP NAVIGATION --------------*/
    .menu-category-list {
      display: none;
    }
  /*----------- END MENU TOP NAVIGATION --------------*/



  /*----------- START NAV-ITENS-------------*/
  .splide__slide {
    width: auto !important;
  }
  .mt-4{
    margin-top: 0.5rem !important;
  }
  /*----------- END NAV-ITENS-------------*/
  

  /*----------- START MINI BANNER -------------*/
  .modulo {
    width: 100%;
  }
  
  .flexslider {
    width: 100%;
  }

  .slides{
    padding-left: 0rem;
    padding-left: 0rem;
  }

  .slides img {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
  }
  /*----------- END MINI BANNER -------------*/

  /*---------------INICIO PRODUTOS------------------*/
  .col-3 {
    width: 50%;
  }
    
  .product-list {
    padding-left: 0rem;
  }
  
  .w-auto {
    width: 100% !important;
  }
  
  .product-card .card-banner {
    position: relative;
    margin-bottom: 0px;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  
  .product-card .card-title a {
    font-size: 0.9rem;

  }
  
  .product-card  {
    margin: 0 5px!important;
  }

  .product-card .card-price {
    font-size: 1.19rem;
  }

  .product-card .card-price data:not(:last-child) {
    font-size:0.75rem;
  }

  .conditions-price {
    font-size: 0.8rem;
  }

  .conditions-payment {
    font-size: 0.8rem;
  }

  .star {
    font-size: 0.8rem;
  }

  .card-content {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0.2rem;
  }

  .card-content a {
    justify-content: center;
  }

  .product-card .card-badge-red {
    padding: 3px 10px;
    font-size: 0.7rem;
    font-weight: 600;
  }

  .product-card .card-badge {
    padding: 3px 10px;
    font-size: 0.7rem;
    font-weight: 600;
  }

  .product-card .card-badge-full {
    padding: 3px 10px;
    font-size: 0.7rem;
    font-weight: 600;
  }
  /*---------------FIM PRODUTOS------------------*/

}

@media only screen and (min-device-width: 769px ) and (max-device-width: 1023px) {


  /*----------- START NAVBAR HEADER --------------*/
  .navbar{
    --bs-navbar-padding-y:0rem !important;
    --bs-navbar-toggler-padding-y:0rem !important;
  }

  .navbar-toggler{
    display: none;
  }

  .form-control{
    width: 50%;
  }

  .translate-middle{
    transform: translate(41%, -30%) !important;
    bottom: 3.6rem;
  }


  .row img{
    padding-left: 0rem !important; 
    width: auto !important;
    margin-top: 1.5rem!important;
  }

  .navbar-toggler .container-fluid{
    --bs-gutter-x: 0rem !important;
  }

  .d-flex span{
    width:auto !important;
    position: relative !important;
    bottom:4rem;
    left: 3.8rem !important;
  }
  
  .d-flex{
    margin-left: 4rem !important;
  }
  /*----------- END NAVBAR HEADER --------------*/


  .splide__slide {
    width: auto !important;
  }
}


@media only screen and (min-width: 1024px ) and (max-width: 1439px) {

  /*----------- START NAVBAR HEADER --------------*/
  .navbar-toggler{
    display: none;
  }

  .form-control{
    width: 100%;
  }
  /*----------- END NAVBAR HEADER --------------*/

  
}


/*----------- END MEDIA QUERIES -------------*/



