
/*--------COLORS---------------*/
*:root {
  --eerie-black: hsl(0, 0%, 13%);
  --onyx: hsl(0, 0%, 27%);
  --davys-gray: hsl(0, 0%, 33%);
  --sonic-silver: hsl(0, 0%, 47%);
  --spanish-gray: hsl(0, 0%, 60%);
  --white: hsl(0, 100%, 100%);
  --cultured: hsl(0, 0%, 93%);
  --dylans-Blue: hsl(230, 81%, 43%);
  --sprint-yellow: hsl(52, 100%, 50%);
  --kelly-green: hsl(103, 62%, 47%);
  --imperial-blue: hsl(247, 80%, 20%);
  --denim-blue: hsl(234, 93%, 18%);
  --red: hsl(0, 100%, 50%);
  --orange: rgb(255, 84, 46);
}

html {
  font-family: 'Inter', sans-serif !important;
}

/*-----------RESET--------------*/




/*----------- START ALERT TOP BAR --------------*/
.alert-primary{
  background-color: var(--white);
  font-weight: 600;
  color: var(--eerie-black);
  margin: 0;
  border-radius:0;
  border: 0;
  text-align: center;
  padding: 7px;
}
/*----------- END ALERT TOP BAR --------------*/


/*----------- START NAVBAR HEADER --------------*/
.navbar{
  background-color:var(--denim-blue);
  margin-bottom: 1px;
}

.navbar img {
  margin-left: 5.5rem;
}

.modal{
  width: auto;
}

.modal-header .btn-close{
  margin-right: 0.8rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  background-color: var(--white);
}

.modal.fade .modal-dialog {
  transition: transform .4s ease-out !important;
}

.slide-in-right {
  animation: slide-in-right 0.5s forwards;
}

@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.modal-header{
  padding: 0;
  background-color: var(--orange);
}

.modal-content{
  width: auto;
  font-size: 1rem;
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 0.521);
  font-weight: 300;
  padding-bottom: 0.7rem;
}

.text a{
  text-decoration: none;
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

.msg{
  margin-left: 0.5rem;
}

.account-login{
  display: flex;
  font-size: 4.5rem;
  color: var(--white);
  margin-right: 0.rem;  
  margin-left: 1.5rem;
}

.modal-line a{
  text-decoration: none;
  color: var(--eerie-black);
  font-size: 1.1rem;
  font-weight: 400;
}

.modal-line {
  margin: 1.5rem 0rem;
}

#titlesub-menu-modal a{
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--davys-gray);
}

#whatsmodal{
  font-size: 1.5rem;
  color: var(--kelly-green);
}

.sidebar-dropdown-item {
  padding: 0.8rem 1rem;
}

.sidebar-dropdown-menu{
  padding-left: 0rem;
  list-style: none;
}

.shop-bag{
  font-size: 3rem;
  color: var(--white);
}

#iconsoutline{
  align-items: center;
  display: flex;
  color: var(--white);
  font-size: 1rem;
  margin-right: 4rem;
}

#iconsperson{
  align-items: center;
  display: flex;
  color: var(--white);
  font-size: 1rem;
  font-weight: 300;
  margin-right: 2.2rem;
  cursor: pointer;
}

#iconscart {
  align-items: center;
  display: flex;
  color: var(--white);
  font-size: 1rem;
}

.text-icon{
  margin-left: .5rem;
}

#formbusca {
  color: var(--davys-gray);
  opacity: 0.8;
  position: relative;
  right: 1.5rem;
  top: 35%;
  transform: translateY(-50%);
}

.me-2 {

  margin-right: 0rem!important;
}

.busca{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
/*----------- END NAVBAR HEADER -------------*/


/*----------- START MENU TOP NAVIGATION -------------*/
.navigation-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: var(--white);
}

.menu-category-list {
  position: relative;
  display: flex;
  gap: 4rem;
  margin: 0.7rem;
  list-style:none; 
}

.menu-category span{
  display: flex;
  align-items: center;
}

.menu-category :hover #Fonesdown{
  rotate: -180deg;
  transition: 0.3s;
}

.menu-category :hover #departamentosdown{
  rotate: -180deg;
  transition: 0.3s;
}

.menu-category :hover #Smartphonesown{
  rotate: -180deg;
  transition: 0.3s;
}

.menu-category :hover #Iphonesdown{
  rotate: -180deg;
  transition: 0.3s;
}

#iconpc{
  font-size: 1.5rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

#Smartwatch{
  font-size: 1.5rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

#Smartphone{
  font-size: 1.55rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

#Fones{
  font-size: 1.55rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

#Iphones{
  font-size: 1.55rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

#Fonesdown{
  color: var(--orange);
  margin-left: 0.4rem;
}

#departamentosdown{
  color: var(--orange);
  margin-left: 0.4rem;
}

#Smartphonesown{
  color: var(--orange);
  margin-left: 0.4rem;
}

#Iphonesdown{
  color: var(--orange);
  margin-left: 0.4rem;
}

#Todosdepartamentos-icon{
  font-size: 1.55rem;
  color: var(--orange);
  margin-right: 0.4rem;
}

.menu-category  {
  margin: 0.1rem;
  color: var(--orange);
}

.menu-category:hover a {
  color: var(--orange);
}

.dropdown-list {
  position: absolute;
  width: 17rem;
  line-height: 2;
  background: var(--white);
  padding: 0.8rem 0;
  transform: translateY(45px);
  visibility: hidden;
  z-index: 1;
  border-radius: 5px;
}

.menu-category-list .menu-category:hover>.dropdown-list {
  transform: translateY(10%);
  opacity: 1;
  visibility: visible;
}



.dropdown-list .dropdown-item a {
  text-transform: capitalize;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: var(--eerie-black);
  cursor: pointer;
  font-weight: 500;
}

.menu-title  {
  text-decoration: none;
  color: var(--orange);
  cursor: pointer;
  list-style:none;
  font-weight: 400;
}

.menu-category-list button{
  background-color: var(--orange);
  cursor: pointer;
  font-size: 1rem;
  border: none;
  color: var(--white);
  font-weight: 400;
  height: 3rem;
  width: 10rem;
  border-radius: 0.2rem !important;
}

.btn-primary{
  --bs-btn-hover-bg: var(--denim-blue);
}
/*----------- END MENU TOP NAVIGATION -------------*/


/*--------------- MAIN - INICIO LOGIN------------------*/



#verticalline {
  border-right: 1px solid var(--eerie-black);
  padding-left: 0;
  padding-right: 0;
}




#remember {
  margin-right: 0.30em;
  margin-top: 0.40em;
  border-radius: 0;

}

.login-title{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}

#btn2, #btn1{
  background-color: var(--kelly-green);
  color: var(--white);
  border-color: var(--kelly-green);
  border-radius: 0.2rem;
  font-weight: 500;
}
/*--------------- MAIN - FIM LOGIN------------------*/





/*--------------- START FOOTER ------------------*/
.footer {
  margin-top: 5rem;
  background: var(--denim-blue);
}

.logo-details-text {
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.5;
}

.logo-details{
  padding-left: 2rem;
  margin-top: 2rem;
}

.link_name {
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  list-style: none;
}

.box li a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--white);
  font-weight: 400;
  opacity: 0.5;
}

.box  {
  list-style: none;
  padding-top: 3rem;
}


.input-box{
  max-width: 50%;
  padding-left: 2rem;
  padding-top: 0.5rem;
}

.form-group{
  padding-top: 0.5rem;
  padding-bottom: .5rem;
}

.btn btn-primary{
  padding-bottom: 0.5rem;
}

.list-unstyled{
  padding-left: 2rem;
  padding-top: 0.5rem;
  list-style: none;
  padding-top: 2.2rem;
}

.media-icons{
  padding-left: 2rem;
  padding-top: 0.5rem;
}

.footer-content .input-box input::placeholder {
  color: var(--cultured);
  font-size: 1rem;
}

#selos{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding-top: 4rem;
}

.box-Newsletter{
  padding-bottom: 4rem;
}

.policy_terms{
  display: flex;
  gap: 1rem;
  padding-left: 4rem;
  color: var(--eerie-black);
}
.policy_terms a{
  padding-left: 1rem;
  color: var(--eerie-black);
  text-decoration: none;
  opacity: 0.5;
}

.list-unstyled{
  padding-bottom: 2rem;
}

.list-unstyled a{
  color: var(--white);
  text-decoration: none;
}

.media-icons a{
  color: var(--eerie-black);
  text-decoration: none;
}

/*--------------- END FOOTER ------------------*/



/*----------- HOME MEDIA QUERIES -------------*/

@media only screen and (max-width: 320px){


  
  

  /*----------- START ALERT TOP BAR --------------*/
  .alert {
    font-size: 0.8rem;
    margin: 0;
  }
  /*----------- END ALERT TOP BAR --------------*/



  /*----------- START NAVBAR HEADER --------------*/
  .navbar{
    --bs-navbar-padding-y:0rem !important;
    --bs-navbar-toggler-padding-y:0rem !important;
  }
  
  .navbar-toggler{
    border: none;
    color: transparent;
  }

  .navbar-toggler-icon{
    background-image: none;
    background-image: image(ion-icon name="menu-outline" class="menu-outline-btn" size="");
    color: var(--white)!important;
  }

  .navbar-toggler-icon ion-icon {
    font-size: 2.3rem;
    position:relative;
    bottom:3.5rem !important;
    left: 0.1rem !important;
    color: var(--white);
  }

  .shop-bag{
    display: none;
  }

  #cart{
    display: flex !important;
    width:auto !important;
    position: relative !important;
    bottom:7.9rem;
    right: -16.8rem !important; 
    font-size: 2.3rem;
  }

  .navbar img {
    margin-left: 4.2rem;
    margin-top: 0.5rem;
  }

  .text-icon{
    display: none;
  }

  #mobile{
    display: flex!important;
    margin-left: 1.5rem!important;
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
  }
  #iconscart{

    position: absolute;
  }

  .w-75{
    width: 100% !important;
  }

  #main{
    position: absolute;
  }

  .translate-middle{
    transform: translate(4%, -100%) !important;
  }
  /*----------- END NAVBAR HEADER --------------*/



  /*----------- START MENU TOP NAVIGATION --------------*/
  .menu-category-list {
    display: none;
  } /*----------- END MENU TOP NAVIGATION --------------*/
  

  /*----------- START BANNER--------------*/
  .carousel-indicators [data-bs-target]{
    display: none;
  }
  /*----------- END BANNER--------------*/
  


  #verticalline{
    display: none;
  }



  
  /*--------------- START FOOTER ------------------*/
  .footer {
    margin-top: 1rem;
  }

  #selos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1.5rem;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .media-icons{
    padding-left: 0rem;
  }

  .policy_terms{
    padding-left: 3.0rem;
    padding-bottom: 0.5rem;
  }
  /*--------------- END FOOTER ------------------*/



}



@media only screen and (min-width: 321px ) and (max-width: 375px)  {

  
  
  /*----------- START ALERT TOP BAR --------------*/
  .alert {
    font-size: 0.8rem;
    margin: 0;
  }
  /*----------- EDN ALERT TOP BAR --------------*/

  

  /*----------- START NAVBAR HEADER --------------*/
  .navbar{
    --bs-navbar-padding-y:0rem !important;
    --bs-navbar-toggler-padding-y:0rem !important;
  }
  
  .navbar-toggler{
    border: none;
    color: transparent;
  }

  .navbar-toggler-icon{
    background-image: none;
    background-image: image(ion-icon name="menu-outline" class="menu-outline-btn" size="");
    color: var(--white)!important;
  }

  .navbar-toggler-icon ion-icon {
    font-size: 2.3rem;
    position:relative;
    bottom:3.5rem !important;
    left: 0.4rem !important;
    color: var(--white);
  }

  .w-75{
    width: 100% !important;
  }

  .shop-bag{
    display: none;
  }

  #cart{
    display: flex !important;
    width:auto !important;
    position: inherit !important;
    bottom:6.9rem;
    left: 19.3rem !important; 
    font-size: 2.3rem;
  }

  .navbar img {
    margin-left: 6rem;
    margin-top: 0.5rem;
  }

  .text-icon{
    display: none;
  }

  #mobile{
    display: flex!important;
    margin-left: 1.5rem!important;
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
  }
  #iconscart{

    position: absolute;
  }

  #main{
    position: absolute;
  }

  .translate-middle{
    transform: translate(4%, -100%) !important;
  }
  /*----------- END NAVBAR HEADER --------------*/


  /*----------- START MENU TOP NAVIGATION --------------*/
  .menu-category-list {
    display: none;
  }
  /*----------- END MENU TOP NAVIGATION --------------*/

  /*----------- START BANNER--------------*/
  .carousel-indicators [data-bs-target]{
    display: none;
  }
  /*----------- END BANNER--------------*/

  /*--------------- START FOOTER ------------------*/
  .footer {
    margin-top: 1rem;
  }

  #selos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1.5rem;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .media-icons{
    padding-left: 0rem;
  }

  .policy_terms{
    padding-left: 3.0rem;
    padding-bottom: 0.5rem;
  }
  /*--------------- END FOOTER ------------------*/


  

}


@media only screen and (min-width: 376px ) and (max-width: 414px) {

  

  /*----------- START ALERT TOP BAR --------------*/
  .alert {
    font-size: 0.8rem;
    margin: 0;
  }
  /*----------- END ALERT TOP BAR --------------*/



  /*----------- START NAVBAR HEADER --------------*/
  .navbar{
    --bs-navbar-padding-y:0rem !important;
    --bs-navbar-toggler-padding-y:0rem !important;
  }
  
  .navbar-toggler{
    border: none;
    color: transparent;
  }

  .navbar-toggler-icon{
    background-image: none;
    background-image: image(ion-icon name="menu-outline" class="menu-outline-btn" size="");
    color: var(--white)!important;
  }

  .navbar-toggler-icon ion-icon {
    font-size: 2.3rem;
    position:relative;
    bottom:3.5rem !important;
    left: 0.5rem !important;
    color: var(--white);
  }

  .w-75{
    width: 100% !important;
  }

  .shop-bag{
    display: none;
  }

  #cart{
    display: flex !important;
    width:auto !important;
    position: inherit !important;
    bottom:6.9rem;
    left: 21.5rem !important; 
    font-size: 2.3rem;
  }


  .navbar img {
    margin-left: 7rem;
    margin-top: 0.5rem;
  }

  .text-icon{
    display: none;
  }

  #mobile{
    display: flex!important;
    margin-left: 1.5rem!important;
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
  }

  #iconscart{

    position: absolute;
  }


  #main{
    position: absolute;
  }

  .translate-middle{
    transform: translate(4%, -100%) !important;
  }
  /*----------- END NAVBAR HEADER --------------*/



  /*----------- START MENU TOP NAVIGATION --------------*/
    .menu-category-list {
      display: none;
    }
  /*----------- END MENU TOP NAVIGATION --------------*/


  /*----------- START BANNER--------------*/
  .carousel-indicators [data-bs-target]{
    display: none;
  }
  /*----------- END BANNER--------------*/


 

  /*--------------- START FOOTER ------------------*/
  .footer {
    margin-top: 1rem;
  }

  #selos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1.5rem;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .media-icons{
    padding-left: 0rem;
  }

  .policy_terms{
    padding-left: 3.0rem;
    padding-bottom: 0.5rem;
  }
  /*--------------- END FOOTER ------------------*/
}

@media only screen and (min-width: 415px ) and (max-width: 768px){

  .icon-box{
    display: none;
  } 

  /*----------- START ALERT TOP BAR --------------*/
  .alert {
    font-size: 0.8rem;
    margin: 0;
  }
  /*----------- END ALERT TOP BAR --------------*/


  /*----------- START NAVBAR HEADER --------------*/
  .navbar{
    --bs-navbar-padding-y:0rem !important;
    --bs-navbar-toggler-padding-y:0rem !important;
  }
  
  .navbar-toggler{
    border: none;
    color: transparent;
  }

  .navbar-toggler-icon{
    background-image: none;
    background-image: image(ion-icon name="menu-outline" class="menu-outline-btn" size="");
    color: var(--white)!important;
  }

 
  .navbar-toggler-icon ion-icon {
    font-size: 2.3rem;
    position:relative;
    bottom:3.5rem !important;
    left: 0.1rem !important;
    color: var(--white);
  }

  .w-75{
    width: 100% !important;
  }

  .shop-bag{
    display: none;
  }

  #cart{
    display: flex !important;
    width:auto !important;
    position: inherit !important;
    bottom:6.7rem;
    left: 23rem !important; 
    font-size: 2.3rem;
  }

  .navbar img {
    margin-left: 7.5rem;
    margin-top: 0.5rem;
  }

  .text-icon{
    display: none;
  }

  #mobile{
    display: flex!important;
    margin-left: 1.5rem!important;
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
  }

  #iconscart{

    position: absolute;
  }


  #main{
    position: absolute;
  }

  .translate-middle{
    transform: translate(4%, -100%) !important;
  }
  /*----------- END NAVBAR HEADER --------------*/




  /*----------- START MENU TOP NAVIGATION --------------*/
    .menu-category-list {
      display: none;
    }
  /*----------- END MENU TOP NAVIGATION --------------*/



  

    /*--------------- START FOOTER ------------------*/
    .footer {
      margin-top: 1rem;
    }
  
    #selos{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 1.5rem;
      padding-top: 0rem;
      padding-right: 0rem;
      padding-left: 0rem;
    }
  
    .media-icons{
      padding-left: 0rem;
    }
  
    .policy_terms{
      padding-left: 3.0rem;
      padding-bottom: 0.5rem;
    }
    /*--------------- END FOOTER ------------------*/

  

}

@media only screen and (min-device-width: 769px ) and (max-device-width: 1023px) {

  .icon-box{
    display: none;
  } 

  /*----------- START NAVBAR HEADER --------------*/
  .navbar{
    --bs-navbar-padding-y:0rem !important;
    --bs-navbar-toggler-padding-y:0rem !important;
  }

  .navbar-toggler{
    display: none;
  }

  .form-control{
    width: 50%;
  }

  .translate-middle{
    transform: translate(41%, -30%) !important;
    bottom: 3.6rem;
  }

  .row img{
    padding-left: 0rem !important; 
    width: auto !important;
    margin-top: 1.5rem!important;
  }

  .navbar-toggler .container-fluid{
    --bs-gutter-x: 0rem !important;
  }

  .d-flex span{
    width:auto !important;
    position: relative !important;
    bottom:4rem;
    left: 3.8rem !important;
  }
  
  .d-flex{
    margin-left: 4rem !important;
  }
  /*----------- END NAVBAR HEADER --------------*/

}


@media only screen and (min-width: 1024px ) and (max-width: 1439px) {

  /*----------- START NAVBAR HEADER --------------*/
  .navbar-toggler{
    display: none;
  }

  .form-control{
    width: 100%;
  }
  /*----------- END NAVBAR HEADER --------------*/

  
}


/*----------- END MEDIA QUERIES -------------*/





